* linguist-vendored
*.R linguist-vendored=false
*.js linguist-vendored=false
*.js linguist-detectable
*.html linguist-generated
*.sparql linguist-vendored=false
*.webarchive linguist-generated
*.csv linguist-generated
